<a href="https://colab.research.google.com/github/BatoolMM/fastai/blob/master/Chapter_8_Collaborative_Filtering_Deep_Dive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 8. Collaborative Filtering Deep Dive**

In [ ]:
!pip install -Uqq fastbook
!pip install fastai
!pip install utils

In [2]:
from utils import *
import fastbook
from fastai.tabular.all import *
from fastai.collab import *

In [3]:
path = untar_data(URLs.ML_100k)
path.ls()

(#23) [Path('/root/.fastai/data/ml-100k/allbut.pl'),Path('/root/.fastai/data/ml-100k/mku.sh'),Path('/root/.fastai/data/ml-100k/u1.test'),Path('/root/.fastai/data/ml-100k/u3.test'),Path('/root/.fastai/data/ml-100k/u4.base'),Path('/root/.fastai/data/ml-100k/u2.test'),Path('/root/.fastai/data/ml-100k/u3.base'),Path('/root/.fastai/data/ml-100k/u2.base'),Path('/root/.fastai/data/ml-100k/u.info'),Path('/root/.fastai/data/ml-100k/u.occupation')...]

In [8]:
rating = pd.read_csv(path/'u.data', sep='\t', header = None,
                     names = ['user','movie', 'rating','timestamp'])
rating.head()

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596